body {
    margin: 0;
    background-color: #242424;
    overflow-x: hidden;
}

.menu {
    display: none;
    margin: 15px 0 4px 20px;
    cursor: pointer;
}

.menu .bar {
    height: 2px;
    width: 20px;
    border-radius: 1px;
    margin: 6px 0;
    background-color: #FFF;
}

header,
.nav-area {
    background-color: #121214;
    max-width: 1375px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

.top {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #121214;
    font-family: 'Outfit';
    user-select: none;
    transition: all 0.35s, opacity 0.5s;
}

.top .close {
    display: none;
    margin: 5px 0 0 20px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}

.top>hr {
    border: none;
    border-bottom: solid 1px #242424;
    margin: unset;
}

header .logo {
    height: 60px;
    width: 201px;
}

header .logo::before {
    display: block;
    width: calc(201px - 9px);
    height: calc(60px - 4px);
    padding: 4px 0 0 9px;
    border: 0.7px solid #337CA0;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1375px;
    padding: 9px 20px 9px 20px;
    color: #337CA0;
}

header .search {
    display: flex;
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
}

header .search>* {
    padding: 10px;
    border: none;
    border-radius: 0;
    font-family: 'Outfit';
    color: #FFF;
}

header .search input {
    background-color: #1E1E20;
    width: 75%;
    outline: none;
}

header .search button {
    width: 25%;
    background-color: #181717;
    cursor: pointer;
}

header .search button>* {
    vertical-align: middle;
}

header .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .info a {
    margin: 0 32px 0 0;
    color: #337CA0;
    text-decoration: none;
}

header .info a img {
    margin: 0 -5px 0 0;
}

header .info a:last-of-type {
    margin: 0 10px 0 0;
}

header .info a .number {
    display: inline-block;
    height: 10px;
    padding: 0 2.5px;
    border: 1px solid #FFF;
    border-radius: 6px;
    font-size: 8px;
    color: #FFF;
    vertical-align: top;
}

header .info a.favorite .number {
    background-color: #00A3FF;
}

header .info a.notifications .number {
    background-color: #F00;
}

header .info a.cart .number {
    background-color: #00CC83;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    padding: 28px 0;
    margin: 0 auto;
}

nav a {
    color: #337CA0;
    text-decoration: none;
    transition: all 0.35s;
}

nav a.selected {
    font-weight: bold;
}

nav a.selected:hover {
    text-shadow: 0 0 8px #337CA0;
}

nav a:not(.selected) {
    color: #337CA080;
}

nav a:not(.selected):hover {
    text-shadow: 0 0 8px #337CA080;
}

nav a .number {
    position: relative;
    top: -8px;
    border-radius: 4px;
    padding: 1px 3px;
    margin: 0 0 0 10px;
    font-size: 13px;
    color: #121214;
    background-color: #00A3FF;
}

.banner-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1375px;
    padding: 11px 20px 0 20px;
    margin: 0 auto;
}

.banner-area>* {
    background-color: #121214;
}

.banner-50 {
    display: inline-block;
    height: 234px;
    width: calc(50% - 5.5px);
    border-radius: 3px;
    margin: 0 0 15px 0;
}

.banner-100 {
    height: 323px;
    width: 100%;
    margin: 0 0 11px 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    max-width: 1375px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

.product {
    width: calc(20% - 8px);
    background-color: #40406B;
    padding: 1px 4px 0 4px;
    margin: 0 2.5% 19px 2.5%;
    border-radius: 5px;
    text-align: center;
    color: #E3E3E3;
    cursor: pointer;
    transition: all 0.25s;
}

.product:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 45px 1px #FFF1;
    background-color: #40406B;
}

.product-image {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.product-name,
.product-price {
    display: block;
    font-family: 'Fjalla One';
    font-size: 20px;
}

footer {
    max-width: 1375px;
    padding: 11px 20px 0 20px;
    margin: 0 auto;
    padding: 75px 20px 100px 20px;
    margin: 0 auto 0 auto;
    font-family: 'Open Sans';
    color: #FFF;
    background-color: #121214;
}

.footer-area {
    max-width: 1074px;
    margin: 0 auto;
}

.footer-area .logo {
    display: block;
    width: 162px;
    height: 94px;
    margin: 0 0 -50px 0;
}

.footer-area>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.footer-area .contact {
    align-self: flex-end;
}

.footer-area .quick-links>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
}

.footer-area .quick-links>div:nth-of-type(1) span {
    margin: 0 0 45px 0;
}

.footer-area .quick-links span {
    color: #ffffffa6;
}

.footer-area .subscribe>div {
    display: flex;
    align-self: center;
    width: 248px;
    border-radius: 6px;
    overflow: hidden;
}

.footer-area .subscribe input,
.footer-area .subscribe button {
    width: auto;
    border: none;
    padding: 17px;
}

.footer-area .subscribe input {
    width: 80%;
}

.footer-area .subscribe button {
    width: 20%;
    background-color: #478EFF;
    cursor: pointer;
}

footer hr {
    display: block;
    max-width: 1074px;
    margin: 69px auto 35px auto;
    opacity: 0.2;
}

footer .icons {
    display: flex;
}

footer .icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border: 1.5px solid #4D4D4F;
    border-radius: 50%;
    margin: 0 15px 0 0;
    text-decoration: none;
    transition: all 0.25s;
}

footer .icons a:hover {
    transform: scale(1.2);
}

footer>div .company {
    display: flex;
}

footer>div .company h4 {
    position: relative;
    top: 6px;
    display: inline-block;
    margin: 0 0 0 4px;
    font-weight: bold;
}

@media (max-width: 950px) {
    .menu {
        display: block;
    }

    .top .logo,
    .top hr {
        display: none;
    }

    .top .close {
        display: inline-block;
    }

    .top {
        position: absolute;
        top: 0;
        height: 100vh;
        width: auto;
        transform: translate(100vw);
        opacity: 0;
    }

    header {
        display: block;
    }

    header .info {
        margin: 30px 0 0 0;
    }

    nav {
        display: block;
        text-align: center;
    }

    nav a {
        display: block;
        margin: 15px;
    }

    .footer-area .logo {
        width: 90%;
        margin: 0 5%;
    }

    .footer-area .logo::before {
        display: block;
        text-align: center;
    }

    .footer-area>div>div {
        margin: 30px 0;
    }

    .footer-area>div,
    .footer-area>div>div {
        display: block;
        text-align: center;
    }

    .footer-area .quick-links div {
        display: block;
        margin: 0 auto;
    }

    .footer-area .subscribe>div {
        max-width: 600px;
        margin: 0 auto;
    }
}
